extends ../layouts/common
block content
        h1 list users
        ul
            each user in users
                li
                    span= user.name
                    a(href="/users/" + user.id)  view 
        a(href='/users/create') create
        br
        a(href='/users/search') search