extends ../layouts/common
block content
        h1 User
        a(href = "/users") home

        form(action="/users/search")  
            input(type="text", name="q")
            button search

        ul 
            each user in users 
                li= user.name